@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
  
    @if (User.Identity.IsAuthenticated)
    {
        <h2>Hoşgeldin @User.Identity.Name</h2>
    }
    else
    {
        <h2>Hoşgeldin kullanıcı</h2>
    }

</div>



<div></div>

